body {
    margin: auto 0;
    padding: auto 0;
    font-family: 'Inter', sans-serif;

    background-color: #0E1313;
    font-size: 100%;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

/* NAV */

nav {
  z-index: 10;
}

.sticky {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

.scrolled {
  transition: 0.3s ease-in-out;
  background-color: #0E1313;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 35px 0px 0px 50px;
    width: auto;
    user-select: none;
    -webkit-user-select: none;
}

.burger-wrapper {
  display: inherit;
  list-style: inherit;
}

.icons {
  display: inherit;
  margin: inherit;
  width: inherit;
}

ul {
    justify-content: center;
    align-items: center;
}

.initials {
    font-size: 2.9em;
    display: flex;
    margin-right: auto;;
    padding: 40px 0px 0px 70px;
    width: auto;
}

.nav-icon {
    height: 35px;
    padding: 10px;
}

.nav-icon:hover {
    transform: scale(1.2);
    transform-origin: center;
}

.last {
    padding: 10px 50px 0px 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-elem {
    padding: 20px 25px 20px 25px;
    transition: 0.4s ease;
}

.nav-elem:hover{
    color: #9043f6;
}

.nav-elem.active {
  color: #5800CA;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.purple {
    color: #7000FF;
}

/* COVER */

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    flex-direction: column;
    /*background-color: rgba(223, 20, 111, 0.279);*/
}

.welcome-text {
    padding: 0px 0px 0px 70px;
    margin-right: auto;
    width: 80%;
    height: auto;
    vertical-align: top;
}

.start > .arrow-down {
  position: absolute;
  top: 88%;
  width: auto;
  animation: blinker 5s linear infinite;
  margin: 0 auto;
  width: 25%;
}

.arrow-down img {
  display: block;
  margin: 0 auto;
  width: 25%;
}

svg {
  paint-order: stroke;
  stroke: #5800CA;
  stroke-width: 20px;
  box-shadow: 50px 500px 10px #9043f6;
  filter: drop-shadow(0 0 5px #9043f6);
  display: block;
  margin: 0 auto 2% auto;
  width: 20%;
  height: auto;
}

path {
  stroke-linecap: butt;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
.background-start {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32%;
    height: auto;
    z-index: -1;
}

@keyframes blinker {
  50% {
    opacity: 20%;
  }
}

/* ME */

.me {
  padding-bottom: 70px;
  padding-top: 60px;
}

.me > h2 {
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
  /*text-decoration: underline solid #5800CA;
  text-underline-offset: 10px;*/
}

.about-me {
  display: inline-block;
  border-bottom: 4px solid #5800CA;
  padding: 5px 18px;
}

.myself {
  display: grid;
  margin: 80px 70px 0px 70px;
  grid-template-columns: 1fr 1fr;
}

.location {
  display: flex;
  align-items: center;
  width: 30vw;
  margin-right: auto;
}

.location > img {
  width: 30%;
  height: auto;
}

.location h2 {
  display: inline-block;
  padding: 0px 0px 0px 20px;
  margin-right: auto;
}

.age {
  display: flex;
  align-items: center;
  width: auto;
  margin-left: auto;
}

.age img {
  order: 2;
  width: 31%;
  height: auto;
}

.age h2 {
  order: 1;
  display: inline-block;
  padding: 0px 20px 0px 0px;
  text-align: right;
  margin-left: auto;
}

.certification {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 10px solid #7000FF;
  border-radius: 24px;
  margin: 60px 70px 0px 70px;
  height: auto;
}


.box {
  vertical-align: top;
  display: inline-block;
  margin: 20px auto auto auto;
  padding: 0px 0px 50px 0px;
  text-align: center;
}

.box > img {
  width: 60%;
  height: auto;
}

.box h3 {
  display: block;
}

.certificates {
  list-style-position: inside;
  justify-content: center;
  text-align:  center;
  padding: 0;
  font-size: 1.1em;
  text-align: center;
}

.box ul p {
  justify-content: center;
  align-items: center;
}

.work > p {
  font-size: 35px;
  padding-left: 70px;
  padding-bottom: 120px;
}

.project-container {
  display: flex;
  padding-left: 70px;
}

.project-container img {
  flex: 0 0 auto;
}

.project-text {
  padding-left: 50px;
  flex: 1 1 auto;
}

.contact {
  width: 100vw;
  height: 60vh;
  padding-top: 110px;
}

.contact-text {
  display: flex;
  justify-content: center;
  font-size: 2em;
  text-align: center;
  padding-bottom: 100px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mail-contact {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.mail-contact p {
  display: inline-block;
}

.mail-contact > img {
  width: 80px;
  height: auto;
  padding-right: 30px;
}

.telephone-contact {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: center;
}

.telephone-contact p {
  display: inline-block;
}

.telephone-contact > img {
  width: 80px;
  height: auto;
  padding-right: 30px;
}

.footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: #5800CA;
  background: linear-gradient(180deg, rgba(88,0,202,1) 56%, rgba(47,0,107,1) 100%);
  backdrop-filter: blur(10px);
  user-select: none;
  -webkit-user-select: none;
}

.footer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
  text-align: center;
}

.footer-list > li:nth-child(1) {
  text-align: left;
  padding: 20px 20px 20px 70px;
  width: auto;
}

.footer-list > li:nth-child(2) {
  padding: 20px;
  width: auto;
}

.footer-list > li:nth-child(3) {
  text-align: right;
  padding: 20px 70px 20px 20px;
  width: auto;
}

h1 {
    font-size: 3.5em;
    font-weight: 0;
}

h2 {
    font-size: 2em;
    font-weight: 0;
}

h3 {
  font-size: 1.8em;
  font-weight: 0;
}

p {
    font-size: 1.2em;
    margin: 3px 0px 3px 0px;
}

.no-margin {
    margin: 0;
}

.regular {
    font-weight: 400;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .certification {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 30px 0px 30px;
  }

  .myself {
    display: grid;
    margin: 100px 30px 0px 30px;
    grid-template-columns: 1fr;
  }

  .arrow-down img {
    width: 15%;
  }

  .location {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .location h2 {
    display: block;
    padding: 0px 0px 0px 20px;
  }

  .age {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .age h2 {
    display: block;
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

  .contact {
    padding-bottom: 180px;
  }

  .contact-text {
    padding-bottom: 70px;
  }

  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .mail-contact {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 50px;
  }

  .mail-contact > p {
    display: block;
    font-size: 1.5em;
  }

  .mail-contact img {
    padding: 0;
    padding-bottom: 10px;
  }

  .telephone-contact {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .telephone-contact > p {
    display: block;
    font-size: 1.5em;
  }

  .telephone-contact img {
    padding: 0;
    padding-bottom: 15px;
  }

  .footer > ul {
    text-align: center;
    font-size: 0.8em;
  }

  .footer-list {
    grid-template-columns: 1fr;
  }

  .footer-list > li:nth-child(1) {
    text-align: center;
    order: 1;
    padding: 10px 20px;
    font-size: 1.2em;
    width: auto;
  }
  
  .footer-list > li:nth-child(2) {
    padding: 10px;
    order: 3;
    width: auto;
    text-align: center;
    font-size: 1.2em;
  }
  
  .footer-list > li:nth-child(3) {
    text-align: center;
    order: 2;
    padding: 10px 20px;
    width: auto;
    font-size: 1.2em;
  }

  .welcome-text {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 30px;
    width: 80%;
    height: 70%;
    vertical-align: top;
    flex-direction: column;
  }
  .start {
    height: calc(var(--vh, 1vh) * 100);
  }

  .initials {
    padding: 30px 0px 0px 30px;
  }

  .hamburger-bar {
    display: flex;
    padding: 40px 30px 30px 30px;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-nav {
    position: fixed;
    right: -200%;
    top: 0px;
    gap: 10px;
    flex-direction: column;
    background: #5800ca78;
    background: linear-gradient(180deg, rgba(112,0,255,0.65) 0%, rgba(42,3,92,0.65) 71%);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    /*border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;*/
  }

  .nav-elem {
    margin: 16px 0;
    transition: 2s;
  }

  .main-nav.active {
    right: 0;
    width: 40%;
  }

  .burger-wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    gap: 20px;
    font-size: 1.1em;
    margin-right: 5%;
    top: 20%;
  }

  .icons {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 80%;
  }

  .last {
    padding: 00px 50px 0px 10px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 80%;
  }
  .start {
    height: calc(var(--vh, 1vh) * 100);
  }

  svg {
    width: 70%;
  }
}

@media only screen and (max-width: 576) {
  body {
    font-size: 60%;
  }
  .start {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/* LAVA LAMP */
/* Credits to https://codepen.io/404ryannotfound/pen/gOpXpMM - Used it as a template */

.lamp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    min-width: 100vw;
    z-index:-2;
    overflow: hidden;
  }
  
  .lava{
    filter: url("#goo");
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
  }
  
  .blob{
    border-radius: 50%;
    background: #5800CA;
    background: linear-gradient(110deg, rgba(112,0,255,1) 0%, rgba(42,3,92,1) 61%);
    position:absolute;
    filter: blur(0.8rem);
  }
  
  .blob:nth-child(1){
    width: 200px;
    height: 200px;
    left: 35%;
    bottom:-15%;
   
    animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 13s infinite;
  }
  .blob:nth-child(2){
    width: 330px;
    height: 330px;
    right: 34%;
    bottom:-65%;
    
    animation: wobble 5s ease-in-out alternate infinite, blob-two ease-in-out 22s infinite;
   
  }
  .blob:nth-child(3){
    width: 150px;
    height: 150px;
    bottom:-15%;
    left: 10%;
    
    animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
  }
  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    
    animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }
  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    animation: wobble 8s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }
  .blob:nth-child(5){
     width: 55px;
    height: 55px;
    bottom:-25%;
    left: 34%;
    
    animation: wobble 9s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
  }
  .blob:nth-child(6){
    width: 35px;
    height: 35px;
    bottom:-25%;
    right: 54%;
    
    animation:wobble 10s ease-in-out alternate infinite,  blob-six ease-in-out 12s infinite;
  }
  .blob:nth-child(7){
    width: 435px;
    height: 435px;
    bottom:-85%;
    right: 10%;
    
    animation: wobble 11s ease-in-out alternate infinite, blob-seven ease-in-out 32s infinite;
  }
  @keyframes blob-one{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-700%);
    }
  }
  
  @keyframes blob-two{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-420%);
    }
  }
  
  @keyframes blob-three{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-305%);
    }
  }
  @keyframes blob-four{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-605%);
    }
  }
  @keyframes blob-five{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-six{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-seven{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-300%);
    }
  }
  
  @keyframes wobble {
    50% {
     border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
    100% {
     border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
    }
  }

  /* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/inter-v12-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/inter-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/inter-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/inter-v12-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./fonts/inter-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/inter-v12-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/inter-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/inter-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/inter-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/inter-v12-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/inter-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/inter-v12-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}