body {
    margin: auto 0;
    padding: auto 0;
    font-family: 'Inter', sans-serif;

    background-color: #0E1313;
    font-size: 100%;
    color: white;
}

/* NAV */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    padding: 20px 0px 0px 50px;
    user-select: none;
    -webkit-user-select: none;
}

ul {
    justify-content: center;
    align-items: center;
}

.initials {
    margin-right: auto;;
    font-size: 2em;
    padding: 20px;
}

.nav-icon {
    height: 35px;
    padding: 10px;
}

.nav-icon:hover {
    transform: scale(1.2);
    transform-origin: center;
}

.last {
    padding: 0px 50px 0px 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-elem {
    padding: 20px 25px 20px 25px;
}

.nav-elem:hover{
    color: #5800CA;
}

.purple {
    color: #7000FF;
}

/* COVER */

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
}

.welcome-text {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 70px;
    width: 80%;
    height: 70%;
    vertical-align: top;
    flex-direction: column;
}

.background-start {
    margin-left: auto;
    margin-top: auto;
    max-width: 40%;
    height: auto;
    z-index: -1;
}

/* ME */

.myself {
  display: grid;
  margin: 100px 70px 0px 70px;
  grid-template-columns: 1fr 1fr;
}

.location {
  display: flex;
  align-items: center;
  width: 30vw;
  margin-right: auto;
}

.location > img {
  width: 35%;
  height: auto;
}

.location h2 {
  display: inline-block;
  padding: 0px 0px 0px 20px;
  margin-right: auto;
}

.age {
  display: flex;
  align-items: center;
  width: 30vw;
  margin-left: auto;
}

.age > img {
  width: 45%;
  height: auto;
}

.age h2 {
  display: inline-block;
  padding: 0px 20px 0px 0px;
  text-align: right;
  margin-left: auto;
}

.certification {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 10px solid #7000FF;
  border-radius: 24px;
  margin: 60px 70px 0px 70px;
  height: auto;
}

@media only screen and (max-width: 896px) {
  .certification {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px 30px 0px 30px;
  }

  .myself {
    display: grid;
    margin: 100px 30px 0px 30px;
    grid-template-columns: 1fr;
  }

  .location {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .location h2 {
    display: block;
    padding: 0px 0px 0px 20px;
  }

  .age {
    display: inline-block;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  .age h2 {
    display: block;
    padding: 0px 20px 0px 0px;
    text-align: center;
  }

  .welcome-text {
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 30px;
    width: 80%;
    height: 70%;
    vertical-align: top;
    flex-direction: column;
}
}

@media only screen and (max-width: 876px) {
  body {
    font-size: 80%;
  }
}

@media only screen and (max-width: 600) {
  body {
    font-size: 60%;
  }
}

.box {
  vertical-align: top;
  display: inline-block;
  margin: 20px auto auto auto;
  padding: 0px 0px 50px 0px;
  text-align: center;
}

.box > img {
  width: 60%;
  height: auto;
}

.box h3 {
  display: block;
}

h1 {
    font-size: 3.5em;
    font-weight: 0;
}

h2 {
    font-size: 2em;
    font-weight: 0;
}

h3 {
  font-size: 1.8em;
  font-weight: 0;
}

p {
    font-size: 1.2em;
    margin: 3px 0px 3px 0px;
}

.no-margin {
    margin: 0;
}

.regular {
    font-weight: 400;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

/* LAVA LAMP */
/* Credits to https://codepen.io/404ryannotfound/pen/gOpXpMM - Used it as a template */

.lamp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 100vh;
    height: 100vh;
    width: 100vw;
    min-width: 100vw;
    z-index:-2;
    overflow: hidden;
  }
  
  .lava{
    filter: url("#goo");
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
  }
  
  .blob{
    border-radius: 50%;
    background: #5800CA;
    background: linear-gradient(110deg, rgba(112,0,255,1) 0%, rgba(42,3,92,1) 61%);
    position:absolute;
    filter: blur(0.8rem);
  }
  
  .blob:nth-child(1){
    width: 200px;
    height: 200px;
    left: 35%;
    bottom:-15%;
   
    animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 13s infinite;
  }
  .blob:nth-child(2){
    width: 330px;
    height: 330px;
    right: 34%;
    bottom:-65%;
    
    animation: wobble 5s ease-in-out alternate infinite, blob-two ease-in-out 22s infinite;
   
  }
  .blob:nth-child(3){
    width: 150px;
    height: 150px;
    bottom:-15%;
    left: 10%;
    
    animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
  }
  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    
    animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }
  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    animation: wobble 8s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }
  .blob:nth-child(5){
     width: 55px;
    height: 55px;
    bottom:-25%;
    left: 34%;
    
    animation: wobble 9s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
  }
  .blob:nth-child(6){
    width: 35px;
    height: 35px;
    bottom:-25%;
    right: 54%;
    
    animation:wobble 10s ease-in-out alternate infinite,  blob-six ease-in-out 12s infinite;
  }
  .blob:nth-child(7){
    width: 435px;
    height: 435px;
    bottom:-85%;
    right: 10%;
    
    animation: wobble 11s ease-in-out alternate infinite, blob-seven ease-in-out 32s infinite;
  }
  @keyframes blob-one{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-700%);
    }
  }
  
  @keyframes blob-two{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-420%);
    }
  }
  
  @keyframes blob-three{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-305%);
    }
  }
  @keyframes blob-four{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-605%);
    }
  }
  @keyframes blob-five{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-six{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-seven{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-300%);
    }
  }
  
  
  @keyframes wobble {
    50% {
     border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
    100% {
     border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
    }
  }